body{
    background-color: #beb2c8;
}

h1,
h2{
    color: #8e4162;
    font-family:cursive;
}

h3{
    color: #1A535C;
    text-indent: 50px;
}


.items{
    text-indent: 50px;
    list-style-position: inside;
}


#home-link{
    text-align: center;
    color: #8e4162;
    padding: 400px;
}
