/* *,
*::after,
*::before{
    border: 1px solid blueviolet;
    margin: 1px;
    padding: 1px;
} */

body{
    background-color: burlywood;
    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet
    
}

.links{
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */

    justify-content: center;
    gap: 16px
}

img{
    width: 500px;
    height: auto;
}